extends layout
block content
    h1 All Students 
    table
        thead
            tr
                th ID
                th Name
                th Actions
        tbody
            for student in data 
                tr  
                    td #{student.id}
                    td #{student.name}
                    td 
                        a(href='/student/' + student.id) View Details
    br
    a(href='/') Back to Home